# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
.env

# Rust / Cargo
target/
Cargo.lock

# NAPI-RS
*.node
*.pnpm-debug.log*
build/
artifacts/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Temporary files
__test__/*.js
__test__/*.d.ts
__test__/*.map
